/**** Setup ******/


@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/*DESKTOP*/

/**** Body ******/
html, body {
    width: 100%;
    height: 100%;
}

body {
  background-color: #FFC422;
  max-width: 910px;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
  display: table;
  color: #11115B;

}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding:5%;
}

/*LOGO*/

img.arabiclogo {
  max-width: 40%;
  margin: auto;
  display: block;

}

img.englishlogo {
  max-width: 30%;
  margin: auto;
  display: block;

}


/*TEXT*/


p.arabic_body {
  font-family: "Noto Naskh Arabic";
  font-size: 30px;
  color: #11115B;
  line-height: 51px;
  direction: rtl;
}

p.english_body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: regular;
  font-size: 18px;
  color: #11115B;
  line-height: 26px;
  padding-bottom: 40px;
}


b {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.SmallB {
  font-size: 26px;
}

/*DIV LINES*/

.line-separator-7{
  height:7px;
  background:white;
  margin: 30px 0;
}

.line-separator-1{
  height:1px;
  background:white;
  margin: 30px 0;
}




/*TABLET*/

@media only screen and (max-width:765px){
  p.arabic_body {
    font-size: 25px;
    line-height: 45px;
  }

  p.english_body {
    font-size: 15px;
    line-height: 20px;
  }

  img.arabiclogo {
    max-width: 60%;
  }

  img.englishlogo {
    max-width: 40%;
    margin: auto;
    display: block;
  }

  .SmallB {
    font-size: 21px;
  }



  @media only screen and (max-width:500px){

    p.arabic_body {
      font-size: 20px;
      line-height: 35px;
    }

    p.english_body {
      font-size: 14px;
      line-height: 18px;
    }

    .SmallB {
      font-size: 16px;
    }

  }
